<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.12.0" newVersion="8.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="MySQL" connectionString="SERVER=localhost; DATABASE=biddingdb; UID=root; password=root; SslMode=none" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultRating" value="0" />
    <add key="MaxMarkRating" value="10" />
    <add key="MinRatingAllowedForBidding" value="3" />
    <add key="BannedDaysForBadRating" value="3" />
    <add key="MaxInProgress" value="3" />
    <add key="MaxInProgressByCategory" value="2" />
    <add key="ReviewsCountedForRating" value="3" />
    <add key="LevelForStringDuplicate" value="15" />
  </appSettings>
</configuration>